<div class="container">
    <%= form_with model: @stream, local: true do |form| %>
    <div>
        <%= form.label :stream_name %>
        <%= form.text_field :stream_name, class: "form-control" %>
    </div>
    <div>
        <%= form.label :stream_code %>
        <%= form.text_field :stream_code, class: "form-control" %>
    </div>
    <div style="margin-top: 20px;"">
    <%= form.submit "Save Stream", class: "btn btn-primary"%>
    </div>
    <%end%>
</div>